<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./stylesheets/nav.css">
</head>

<body>
    <nav>
        <div class="logo">
            <img src="./logo.png" alt="Logo">
        </div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/find">Teams</a></li>
            <li><a href="/hackathon">Hackathon</a></li>
            <li><a href="/about">About</a></li>
            <li>
                <% if(show){ %>
                <div class="profile-dropdown">
                    <a href="#"><img src="profile.png" alt="Profile Icon"></a>
                    <ul>
                        <li><a href="/update">Account</a></li>
                        <li>
                            <form action="/status" method="post">
                                <label id="status" for="status">Select your status:</label>
                                <select id="statusdrop" onchange="this.form.submit()" name="status">
                                    <option value="Available">Available</option>
                                    <option value="Busy">Busy</option>
                                    <option value="In Team">In Team</option>
                                </select>
                            </form>
                        </li>
                        <li><a href="/logout">Logout</a></li>

                    </ul>
                </div>
                <% }else{ %>
                    <a href="/login">Login</a>
                    <% } %>
            </li>
        </ul>
    </nav>
    <script src="./javascripts/statushandler.js"></script>
</body>

</html>