<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./stylesheets/nav.css">
    <link rel="stylesheet" href="./stylesheets/home.css">
</head>

<body>
    <nav>
        <div class="logo">
            <img src="./logo.png" alt="Logo">
        </div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/find">Teams</a></li>
            <li><a href="/hackathon">Hackathon</a></li>
            <li><a href="/about">About</a></li>
            <li>
                <% if(show){ %>
                    <div class="profile-dropdown">
                        <a href="#"><img src="profile.png" alt="Profile Icon"></a>
                        <ul>
                            <li><a href="/update">Account</a></li>
                        <li>
                            <form action="/status" method="post">
                                <label id="status" for="status">Select your status:</label>
                                <select id="statusdrop" onchange="this.form.submit()" name="status">
                                    <option value="Available">Available</option>
                                    <option value="Busy">Busy</option>
                                    <option value="In Team">In Team</option>
                                </select>
                            </form>
                        </li>
                        <li><a href="/logout">Logout</a></li>
                        
                    </ul>
                </div>
                <% }else{ %>
                    <a href="/login">Login</a>
                    <% } %>
                </li>
            </ul>
        </nav>
        
        <div class="hero">
        <div class="hero-Content">
        <div class="hero-left">
            <img src="../images/cap.png">
            <h2 class="cap-text">CODECAP<br>COMMUNITY</h2>
        </div>
        <div class="hero-right">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis beatae provident nobis, iusto alias corporis. Dolorum itaque dolore obcaecati quisquam aliquid eaque nihil possimus dolorem aut numquam iure ipsa quas, quis voluptas magni voluptates veritatis. Soluta facilis temporibus inventore velit, nostrum, rem corrupti repellendus doloremque laborum molestias vero expedita ut!Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum vel odio vitae eleifend. Donec venenatis ultrices metus. Ut pulvinar dui non felis consectetur, non facilisis lorem tempus. Duis turpis risus, malesuada consectetur est id, luctus mattis mauris. Nam auctor velit nec dolor mollis, a tincidunt mauris pulvinar. Cras cursus aliquet faucibus. Fusce sit amet elit quis urna sollicitudin fermentum. Fusce ac sagittis nulla. Praesent semper risus a ornare ullamcorper.</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ex ab libero! Natus, placeat molestiae, eveniet error doloremque modi quae et blanditiis officiis labore ab.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero error dolor aperiam autem ipsam aliquid amet commodi dolorem, deleniti nisi, quidem, deserunt eaque necessitatibus voluptas placeat expedita minus eius adipisci!Sed vel nisi tempus felis sagittis volutpat. Mauris et egestas libero. Donec tempus tellus eget nisi semper, nec viverra nulla fringilla. Proin laoreet pellentesque fermentum. Aliquam rutrum ornare lacinia. Etiam in vestibulum mauris, ac sodales lacus. Mauris et urna vitae purus rutrum tempor. Quisque lobortis neque id pulvinar imperdiet. In mauris augue, lobortis vel blandit nec, consequat at libero.</p>
        </div> 
    </div>
    <div class="button">
        <button>GET STARTED</button>
    </div>
</div>
<img src="../images/home/icon-down.png" class="icon-down">

<h1 class="h-offer">WHAT WE OFFER</h1>

<div class="box box1">
    <div class="box-left">
        <img src="../images/home/phone.png" alt="">
    </div>
    <div class="box-right">
        <h1>Make your own team</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam excepturi eius dolorem odio similique beatae voluptatum harum aspernatur repudiandae laudantium saepe ut debitis corrupti reprehenderit nihil quam suscipit, quidem molestias.Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, excepturi adipisci? Perspiciatis necessitatibus molestias praesentium voluptas vero qui sequi veniam tempora, dolores, sunt nisi eos minus. Illum blanditiis necessitatibus debitis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum vel odio vitae eleifend. Donec venenatis ultrices metus. Ut pulvinar dui non felis consectetur, non facilisis lorem tempus. Duis turpis risus, malesuada consectetur est id, luctus mattis mauris. Nam auctor velit nec dolor mollis, a tincidunt mauris pulvinar. Cras cursus aliquet faucibus. Fusce sit amet elit quis urna sollicitudin fermentum. Fusce ac sagittis nulla. Praesent semper risus a ornare ullamcorper.</p>
        <button>Build your team</button>

    </div>
</div>


<div class="box box2">
    <div class="box-right">
        <h1>CONSULTING WITH SENIORS</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam excepturi eius dolorem odio similique beatae voluptatum harum aspernatur repudiandae laudantium saepe ut debitis corrupti reprehenderit nihil quam suscipit, quidem molestias.Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, excepturi adipisci? Perspiciatis necessitatibus molestias praesentium voluptas vero qui sequi veniam tempora, dolores, sunt nisi eos minus. Illum blanditiis necessitatibus debitis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum vel odio vitae eleifend. Donec venenatis ultrices metus. Ut pulvinar dui non felis consectetur, non facilisis lorem tempus. Duis turpis risus, malesuada consectetur est id, luctus mattis mauris. Nam auctor velit nec dolor mollis, a tincidunt mauris pulvinar. Cras cursus aliquet faucibus. Fusce sit amet elit quis urna sollicitudin fermentum. Fusce ac sagittis nulla. Praesent semper risus a ornare ullamcorper.</p>
    </div>
    <div class="box-left">
        <img src="../images/home/man.png" alt="">
    </div>
</div>


<div class="box box3">
    <div class="box-left">
        <img src="../images/home/calander.png" alt="">
    </div>
    <div class="box-right">
        <h1>Hackathons alerts</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam excepturi eius dolorem odio similique beatae voluptatum harum aspernatur repudiandae laudantium saepe ut debitis corrupti reprehenderit nihil quam suscipit, quidem molestias.Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, excepturi adipisci? Perspiciatis necessitatibus molestias praesentium voluptas vero qui sequi veniam tempora, dolores, sunt nisi eos minus. Illum blanditiis necessitatibus debitis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum vel odio vitae eleifend. Donec venenatis ultrices metus. Ut pulvinar dui non felis consectetur, non facilisis lorem tempus. Duis turpis risus, malesuada consectetur est id, luctus mattis mauris. Nam auctor velit nec dolor mollis, a tincidunt mauris pulvinar. Cras cursus aliquet faucibus. Fusce sit amet elit quis urna sollicitudin fermentum. Fusce ac sagittis nulla. Praesent semper risus a ornare ullamcorper.</p>
        <button>HACKATHONS</button>

    </div>
</div>

    <script src="./javascripts/statushandler.js"></script>
</body>

</html>