<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="./stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>

<body>
    <nav>
        <div class="logo">
            <img src="logo.png" alt="Logo">
        </div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/find">Teams</a></li>
            <li><a href="/hackathon">Hackathon</a></li>
            <li><a href="/about">About</a></li>
            <li>
                

                    <a href="/login">Login</a>
            </li>
        </ul>
    </nav>

    <div class="parent">

        <div class="container">
            <br>
            <br>
            <h2> Welcome To CodeCap</h2><h2>Enjoy Easy Teachmate search Here</h2>
            <br>
            <br>
        <p>Please fill in the form to create an account.</p>
        <br>
        <% if(error.length>0){ %>
            <p class="error"> <%=error %> </p>
           <% } %>
        <form action="/register" method="post">

            
            <label for="fullname">Full Name:</label>
            
            
            <input type="text" id="fullname" name="fullname" placeholder="Enter your full name" required>
            
            
            
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter a username" required>
            
            <label for="email">Email Address:</label>
            

            <input type="email" id="email" name="email" placeholder="Enter your email address" required>
            <label for="password">Password:</label>
            
            
            <input type="password" id="password" name="password" placeholder="Enter a strong password">
            
            <button type="submit">Sign Up</button>
        </form>
        <br>
        <br>
        
        <p class="already">Already have an account? <a href="/login">Login</a></p>
        
    </div>
</div>
</body>
</html>