<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./stylesheets/nav.css">
</head>

<body>
    <nav>
        <div class="logo">
            <img src="./logo.png" alt="Logo">
        </div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/find">Teams</a></li>
            <li><a href="/hackathon">Hackathon</a></li>
            <li><a href="/about">About</a></li>
            <li>
               
                    <a href="/login">Login</a>

                </li>
            </ul>
        </nav>

        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 10px; padding: 40px;">
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="kartiksingla" data-color="#000000" data-emoji=""  data-font="Cookie" data-text="Buy us a coffee" data-outline-color="#ffffff" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
            <a href=""></a>
            <img style="width: 25%; height: auto;" src="./images/upi.jpg">
        </div>
        
    </div>
</div>
</div>





<script src="./javascripts/statushandler.js"></script>
</body>

</html>