

@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');


*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Smooch Sans', sans-serif;
    color: #FFF;
}

body{
  background: rgb(16,0,40);
background: -moz-linear-gradient(349deg, rgba(16,0,40,1) 0%, rgba(133,101,146,1) 67%, rgba(68,64,70,1) 84%, rgba(66,9,90,1) 95%);
background: -webkit-linear-gradient(349deg, rgba(16,0,40,1) 0%, rgba(133,101,146,1) 67%, rgba(68,64,70,1) 84%, rgba(66,9,90,1) 95%);
background: linear-gradient(349deg, rgba(16,0,40,1) 0%, rgba(133,101,146,1) 67%, rgba(68,64,70,1) 84%, rgba(66,9,90,1) 95%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#100028",endColorstr="#42095a",GradientType=1);
}

body{
  background-image: url(../images/1.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  overflow-x: hidden;
}

.hero{
  background-image: url('../images/home.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  padding: 10vw 0;
}

.hero-Content{
  display: flex;
  width: 80%;
  padding: 2vw 5vw;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: rgba(225, 218, 218, 0.4);
  border: 1px solid rgb(255, 255, 255);
  fill: rgba(255, 255, 255, 0.20);
  stroke-width: 2px;
  stroke: rgba(255, 255, 255, 0.40);
  backdrop-filter: blur(20px);
}

.hero-Content img{
  width: 100%;
}

.hero-left{
  flex: 1;
}
.hero-right{
  flex: 1;
}

.cap-text{
  text-align: center;
  margin-top: -40px;
  /* Main Heading */
  font-family: Archivo Black;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 85.092%; /* 2.65913rem */
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  margin-top: -30px;
}

.button > button{
  width: 20rem;
  height: 3.6875rem;
  padding: 0.70rem 2.4375rem;
  border-radius: 4.6875rem;
  border: 1px solid #750F77;
  background: linear-gradient(94deg, #54017D 15.91%, #9E206F 91.98%);
  font-size:x-large;
  font-weight: 600;
  letter-spacing: 2px;
  z-index: 10;
}

.icon-down{
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}

.h-offer{
  text-align: center;
  margin-top:30px;
  margin-bottom:30px;
  letter-spacing: 2px;
}

.box{
  border-radius: 1.375rem;
  border: 1px solid rgba(255, 255, 255, 0.40);
  background: rgba(217, 217, 217, 0.12);
  backdrop-filter: blur(23.600000381469727px);
  width: 80vw;
  flex-shrink: 0;
  margin: auto;
}

/*box 1*/
.box1{
    display: flex;
    flex: 1;
}

.box-left{
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 > .box-left > img{
  width: 30vw;
}

.box1 > .box-right{
  padding: 3.6rem;
  padding-right: 10rem;
}

.box1 > .box-right > h1{
  color: #FF18A9;
/* Sub heading 1 */
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 85.092%; /* 1.06363rem */
  text-transform: uppercase;
  letter-spacing: 2px;
}

.box1 > .box-right > p{
  margin-top: 1rem ;
  margin-bottom: 1.5rem ;
}

.box1 > .box-right > button{
  border-radius: 4.6875rem;
  border: 1px solid #6B5FBA;
  background: linear-gradient(276deg, #B684FD 4.74%, #00295A 118.86%);
  padding: 5px;
  width: 8rem;
  letter-spacing: 2px;
}


/*box 2*/
.box2{
    display: flex;
    flex: 1;
}

.box2 > .box-left{
  display: flex;
  align-items: center;
  justify-content: center;
}

.box2 > .box-left > img{
  width: auto;
  height: 90%;
}

.box2 > .box-right{
  padding: 3.6rem;
  padding-right: 10rem;
}

.box2 > .box-right > h1{
  color: #FF18A9;
/* Sub heading 1 */
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 85.092%; /* 1.06363rem */
  text-transform: uppercase;
  letter-spacing: 2px;
}

.box2 > .box-right > p{
  margin-top: 1rem ;
  margin-bottom: 1.5rem ;
}


/*box 3*/
.box3{
    display: flex;
}

.box3 > .box-right{
  padding: 3.6rem;
  padding-right: 10rem;
}

.box3 > .box-right > h1{
  color: #FF18A9;
/* Sub heading 1 */
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 85.092%; /* 1.06363rem */
  text-transform: uppercase;
  letter-spacing: 2px;
}

.box-right{
  display: flex;
  flex-direction: column;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}

/* .box3 > .box-right > p{
  margin-top: 1rem ;
  margin-bottom: 1.5rem ;
} */

.box3 > .box-right > button{
  border-radius: 4.6875rem;
  border: 1px solid #6B5FBA;
  background: linear-gradient(276deg, #B684FD 4.74%, #00295A 118.86%);
  padding: 5px;
  width: 8rem;
  letter-spacing: 2px;
}

.box h1{
  font-size: 20%;
}

.box3 img{
  width: auto;
  height: 90%;
}

.boxc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.hero-right p{
  color: #000;
}

@media screen and (max-width: 1000px) {

  .hero-left img{
    height: 40%;
    width: auto;
  }

  .hero-Content{
    display: flex;
    flex-direction: column;
  }

  .box{
    display: flex;
    flex-direction: column;
  }

  .box img{
    width: 80%;
    height: auto;
  }

}

@media screen and (max-width: 1200px) {

  .hero-Content{
    display: flex;
    flex-direction: column;
  }

  .box{
    display: flex;
    flex-direction: column;
  }








}